<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yasinyuan.testspring.dao.SysCaptchaMapper">
  <resultMap id="BaseResultMap" type="com.yasinyuan.testspring.model.SysCaptcha">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
  </resultMap>
</mapper>